body {
  margin:0;
  padding:0
}

#game canvas {
  margin:0 auto
}

.navbar-custom {
  background-color:#890000;
  color:red;
  border-radius:0
}

.navbar-custom .navbar-brand {
  color:#FFF;
  padding:5px
}

.navbar-custom .navbar-nav > li > a{color:#FFF;font-weight:700}

html {min-height: 100%;}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
*:hover, *:active, *:focus {border: none; outline: 0 !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; border-color: inherit; -webkit-box-shadow: none; box-shadow: none}
.radio input[type="radio"]:focus + label::before {outline: 0 !important;}

body {
    font-weight: 300; font-family: 'DIN Next W1G', sans-serif;
    background: #fff;
}

.bold {font-weight: 800; font-family: 'DIN Next W1G', sans-serif;}
.regular {font-weight: 500; font-family: 'DIN Next W1G', sans-serif;}
.light {font-weight: 300; font-family: 'DIN Next W1G', sans-serif;}

a:focus, a:hover {color: #fff;}

.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs19 {font-size: 19px;}
.fs20 {font-size: 20px;}
.fs21 {font-size: 21px;}
.fs22 {font-size: 22px;}
.fs23 {font-size: 23px;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px;}
.fs30 {font-size: 30px;}

.ls1 {letter-spacing: 1px;}
.ls2 {letter-spacing: 2px;}
.ls3 {letter-spacing: 3px;}
.ls4 {letter-spacing: 4px;}
.ls5 {letter-spacing: 5px;}

/* ------------- */
/* animation     */
/* ------------- */

.splashzoom {-webkit-animation: splashzoom 45s infinite linear; }

@-webkit-keyframes splashzoom {

    0% {
        -webkit-transform: scale(1) rotate(0deg) translate3d(0px, 0px, 0px);
        transform: scale(1) rotate(0deg) translate3d(0px, 0px, 0px);
    }

    50% {
        -webkit-transform: scale(1.4) rotate(0deg) translate3d(10px, 0px, 0px);
        transform: scale(1.4) rotate(0deg) translate3d(10px, 0px, 0px);
    }

    100% {
        -webkit-transform: scale(1) rotate(0deg) translate3d(0px, 0px, 0px);
        transform: scale(1) rotate(0deg) translate3d(0px, 0px, 0px);
    }

}

@keyframes splashzoom {

    0% {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg)
    }

    50% {
        -webkit-transform: scale(1.4) rotate(0deg);
        transform: scale(1.4) rotate(0deg)
    }

    100% {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg)
    }

}

/* Default hover animation */
.animate-hover {
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
}
.animate-hover-list * {
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
}
/* Fadein */
.fadein-10 {
    animation: fadein 1000ms;
    -moz-animation: fadein 1000ms;
    -webkit-animation: fadein 1000ms;
    -o-animation: fadein 1000ms;
}
.fadein-15 {
    animation: fadein 1500ms;
    -moz-animation: fadein 1500ms;
    -webkit-animation: fadein 1500ms;
    -o-animation: fadein 1500ms;
}
.fadein-20 {
    animation: fadein 2000ms;
    -moz-animation: fadein 2000ms;
    -webkit-animation: fadein 2000ms;
    -o-animation: fadein 2000ms;
}
.fadein-25 {
    animation: fadein 2500ms;
    -moz-animation: fadein 2500ms;
    -webkit-animation: fadein 2500ms;
    -o-animation: fadein 2500ms;
}
.fadein-30 {
    animation: fadein 3000ms;
    -moz-animation: fadein 3000ms;
    -webkit-animation: fadein 3000ms;
    -o-animation: fadein 3000ms;
}
.fadein-35 {
    animation: fadein 3500ms;
    -moz-animation: fadein 3500ms;
    -webkit-animation: fadein 3500ms;
    -o-animation: fadein 3500ms;
}

.fadeout-30 {
    animation: fadeout 3000ms;
    -moz-animation: fadeout 3000ms;
    -webkit-animation: fadeout 3000ms;
    -o-animation: fadeout 3000ms;
}

.delay-10 {-webkit-animation-delay: 1s; animation-delay: 1s;}
.delay-20 {-webkit-animation-delay: 2s; animation-delay: 2s;}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.hvr-pulse {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/* opacity hover */
.animate-opacity-hover {
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
}
.animate-opacity-hover:hover {
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
    opacity: 0.7;
}
/* Reveal */
.hvr-reveal-white {
    box-shadow: inset 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
}
.hvr-reveal-white:hover {
    box-shadow: inset 0px 0px 0px 8px rgba(255, 255, 255, 0.75);
    transition: 0.2s all;
    -moz-transition: 0.2s all;
    -o-transition: 0.2s all;
    -webkit-transition: 0.2s all;
}
/* -------------- */
/* width          */
/* -------------- */
.float-left {float: left;}
.float-right {float: right;}
.no-float {float: none;}
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}

/* ------ */

.w100 {width: 100%;}
.w70 {width: 70%;}
.w65 {width: 65%;}
.w50 {width: 50%;}
.w49 {width: 49%;}
.w48 {width: 48%;}
.w33 {width: 33.3333333333333%;}
.w30 {width: 30%;}
.w25 {width: 25%;}

/* ------ */

.table-row {display: table-row;}
.table-cell {display: table-cell;}
.table-table {display: table;}

/* ------ */

.vertical-center {vertical-align: middle;}
.text-center {text-align: center;}

/* ------ */

.overflow-hidden {overflow: hidden;}

/* ------ */

.mt-tiny {margin-top: 7px;}
.mt-small {margin-top: 15px;}
.mt-medium {margin-top: 24px;}
.mt-large {margin-top: 41px;}
.mt-big {margin-top: 82px;}

.mb-tiny {margin-bottom: 7px;}
.mb-small {margin-bottom: 15px;}
.mb-medium {margin-bottom: 24px;}
.mb-large {margin-bottom: 41px;}
.mb-big {margin-bottom: 82px;}

.ml-tiny {margin-left: 7px;}
.ml-small {margin-left: 15px;}
.ml-medium {margin-left: 24px;}
.ml-large {margin-left: 41px;}
.ml-big {margin-left: 82px;}

.mr-tiny {margin-right: 7px;}
.mr-small {margin-right: 5px;}
.mr-medium {margin-right: 24px;}
.mr-large {margin-right: 41px;}
.mr-big {margin-right: 82px;}

.m-tiny {margin: 3.5px;}
.m-small {margin: 15px;}
.m-medium {margin: 24px;}
.m-large {margin: 41px;}
.m-big {margin: 82px;}

.margin-center {margin: auto;}

/* ------ */
.nomarg {margin: 0 !important;}
.nopadd {padding: 0 !important;}
.inline {display: inline-block;margin-left: -4px;}
.vertical-floater {display: table-cell;vertical-align: middle;}
.vertical-holder {display: table;}

/* ------ */
.top {top: 0px;bottom: inherit !important;}
.bottom {bottom: 0px;top: inherit !important;}

/* ------ */
.pt-tiny {padding-top: 7px;}
.pt-small {padding-top: 15px;}
.pt-medium {padding-top: 24px;}
.pt-large {padding-top: 41px;}
.pt-big {padding-top: 82px;}

.pb-tiny {padding-bottom: 7px;}
.pb-small {padding-bottom: 15px;}
.pb-medium {padding-bottom: 24px;}
.pb-large {padding-bottom: 41px;}
.pb-big {padding-bottom: 82px;}

.pl-tiny {padding-left: 7px;}
.pl-small {padding-left: 15px;}
.pl-medium {padding-left: 24px;}
.pl-large {padding-left: 41px;}
.pl-big {padding-left: 82px;}

.pr-tiny {padding-right: 7px;}
.pr-small {padding-right: 15px;}
.pr-medium {padding-right: 24px;}
.pr-large {padding-right: 41px;}
.pr-big {padding-right: 82px;}

.p-tiny {padding: 3.5px;}
.p-small {padding: 15px;}
.p-medium {padding: 24px;}
.p-large {padding: 41px;}
.p-big {padding: 82px;}

.p2 {padding: 2px;}

/* ------ */
.background-box-content {background-clip: content-box;}

/* ------ */
.image-width img {width: 100%;}

/* ------ */
.chevron::after {
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}
.chevron.right:after {
    left: 0;
    transform: rotate(45deg);
}
.chevron.bottom:after {
    top: 0;
    transform: rotate(135deg);
    top: 6px;
}
.chevron.left:after {
    left: 0.25em;
    transform: rotate(-135deg);
}

.preloader {  width: 100%; height: 100%; position: fixed; background: #fff; z-index: 1000;}
.preloader-text { position: absolute; left: calc(50% - 25px); top: 50%;}

/* ------------------------------------------------ 
---------------------------------------------------
    COLOR
--------------------------------------------------
-------------------------------------------------- */

.text-white, .text-white-all * {color: #fff;}
.text-black, .text-black-all * {color: #000;}
.text-grey, .text-grey-all * {color: #aaa;}
.text-red, .text-red-all * {color: #7d3e3e;}

/* ------------------------------------------------ 
---------------------------------------------------
    BUTTON 
--------------------------------------------------
-------------------------------------------------- */

.button {padding: 7px 25px; width: 190px; display: inline-block; text-align: center; color: #fff; text-decoration: none; font-weight: regular; font-family: "DIN Next W1G", sans-serif; font-size: 17px; border: none; background: transparent; border-radius: 0px;}
.button.button-blue {background: #00a3b3; }
.button.button-green {background: #4eaf30; }
.button.button-red {background: #cf6319; }
.button.button-orange {background: #f4a600; }

/* ------------------------------------------------ 
---------------------------------------------------
    BG
--------------------------------------------------
-------------------------------------------------- */

.bg-black {background: #000;}
.bg-white {background: #fff;}
.bg-grey {background: #eee;}
.bg-blue-ocean {background: #63868a;}
.bg-red {background: #8d4e4e;}
.bg-transparent {background: transparent;}

/* ------------------------------------------------ 
---------------------------------------------------
    FORM 
--------------------------------------------------
-------------------------------------------------- */

.form-holder {background: #323232; border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding: 20px 0; margin: 20px 0 0 0;} 

.send-form {}
.send-form .form-group {margin: 20px 0;}
.send-form .form-group label {color: #fff; font-weight: bold;}
.send-form input:not([type='checkbox']), .send-form select {background: transparent; border: #4eaf30 2px solid; width: 100%; border-radius: 3px; color: #fff; height: 35px;}
.send-form select option {color: #000;}
.send-form textarea {background: transparent; border: #4eaf30 2px solid; width: 100%; border-radius: 3px; height: 80px;}
.send-form .form-checkbox input {width: 14px; height: 14px; float: left; margin-right: 10px; display: none;}
.send-form .form-checkbox input + label:before { content: "\f096"; font-family: "FontAwesome"; padding-right: 10px; font-size: 20px; width: 30px;}
.send-form .form-checkbox input:checked + label:before { content: "\f046"; font-family: "FontAwesome"; color: #4eaf30; width: 30px;}

.form-holder-login {margin: 60px 0 0 0;}
.log-form {}
.log-form input:not([type='checkbox']), .log-form select{border: #00a3b3 2px solid;}

/* ------------------------------------------------ 
---------------------------------------------------
    TOPLIST HOLDER
--------------------------------------------------
-------------------------------------------------- */

.toplist-list {}
.toplist-list li {}
.toplist-list li > div {display: inline-block; margin-right: -4px;}
.toplist-list li > div:nth-child(1) {width: 50%}
.toplist-list li > div:nth-child(2) {width: 40%}
.toplist-list li > div:nth-child(3) {width: 10%; background: #4eaf30; width: 20px; height: 20px; border-radius: 50%; color: #323232; text-align: center; margin-left: 5px; line-height: 23px;}

/* ------------------------------------------------ 
---------------------------------------------------
    CONTENT HOLDER
--------------------------------------------------
-------------------------------------------------- */

.content-form-holder {margin: 40px 0 0 0;}
.content-holder * {color: #4eaf30; font-family: "DIN Next W1G", sans-serif;}

/* ------------------------------------------------ 
---------------------------------------------------
    MENU HOLDER
--------------------------------------------------
-------------------------------------------------- */

.menu-holder {position: relative; top: calc(100vh - 180px - 50%);}
.menu-holder-game {position: relative; top: calc(100vh - 200px - 50%);}

/* ------------------------------------------------ 
---------------------------------------------------
    FOOTER HOLDER
--------------------------------------------------
-------------------------------------------------- */

.footer-holder {position: absolute; width: 100%; bottom: 10px;}
.footer-holder > div {padding: 0 10px !important; font-size: 12px;}
.footer-holder > div a {color: #4eaf30; text-decoration: underline; font-weight: bold;}

/* ------------------------------------------------ 
---------------------------------------------------
    HEADER LOGO HTML
--------------------------------------------------
-------------------------------------------------- */

.header-logo  {position: relative; height: 80px; background: #fff;}
.header-logo .splash-head-logo {position: absolute; top: calc(50% - 20px);}
.header-logo img  {max-width: 70%; max-height: 45px;}

/* ------------------------------------------------ 
---------------------------------------------------
    SPLASH
--------------------------------------------------
-------------------------------------------------- */

.splash-screen {}
.splash-screen .splash-head-logo {position: absolute; top: 0%; height: 131px; background: url(../images/banner-bg.png) repeat-x;}
.splash-screen .splash-head-logo img {max-width: 70%;}
.splash-screen .splash-logo {position: absolute; top: calc(50% - 50px);}
.splash-screen .splash-logo img {max-width: 90%;}

.splash-logo {position: relative;}
.splash-logo img {max-width: 80%; padding-top: 25px;}